@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

//  синтаксис scss: ставим скобки и точки запятые  

//  поместим все в один контейнер т.к. все элементы размещаются в 10 колонок
.container {            
max-width: 950px;                       // ширина контейнера
    margin: 0 auto;                     // ровняем контейнер по центру
}
 // подключение файлов стилей
 @import 'blocks/promo';                // первый общий экран блок promo
 @import 'blocks/header.scss';          // шапка на блоке promo
 @import 'blocks/buttons';
 @import 'blocks/advantages';
 @import 'blocks/titles';                // все заголовки здесь  
 @import 'blocks/consultation';          // экран модальной формы
 @import 'blocks/forms';                 // все формы здесь
